/* .imagem .legenda {
    width: 400px;
    height: 400px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    background-image: url('https://github.com/ronaldocarneval.png');
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}
.imagem .legenda:hover {
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; 
}
.imagem .legenda h2{
    font-size: 15px;
    text-align: justify;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    background-color: #7710fe;
    font-weight: bold;
    opacity: 0.7;

} */

.imagem {
    margin: 5px;
    border: 2px solid #b783fa;
    float: left;
    width: 400px;

  }
  
  .imagem:hover {
    border: 2px solid #7710fe;
  }
  
  .imagem img {
    width: 400px;
    height: 400px;
  }
  
  .legenda {
    padding: 5px;
    text-align: center;
    font-size: 15px;
  }