.botao {
    background-color: #58575c; 
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
 }
 
 .botao:hover {
     background-color: #fd6c09;
 }