.campo-texto {
    margin: 24px 0;

}

.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    text-align: left;
}

.campo-texto input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}

.campo-texto input:focus { 
    border: 3px solid rgb(207, 19, 19);
}